<div class="container container-collector bg-white mt-5 p-3 p-lg-5 rounded">
  <div class="row">
        <div class="w-100"><h1 class="pl-3 mb-4" i18n>Álbumes</h1></div>
        <div class="w-100" *ngIf="albums.length === 0">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only" i18n>No hay colecciones de álbumes...</span>
                </div>
            </div>
        </div>
        <div *ngFor="let album of albums" class="col col-sm-12 col-md-6 col-lg-3 albums">
            <app-album-item [album]="album"></app-album-item>
        </div>
    </div>
</div>


