
<h1>Agregar un nuevo Album</h1>

<form [formGroup] = "albumForm" (ngSubmit)="!albumForm.invalid && createAlbum()">
  <label for="album-name">Name:</label>
  <input id="album-name" type="text" class="form-control" formControlName="name">
  <div class="alert alert-danger alert-dismissible fade show"
    *ngIf="albumForm.get('name').hasError('required') && albumForm.get('name').touched">
    Name required
  </div>
  <div class="alert alert-danger alert-dismissible fade show"
    *ngIf="albumForm.get('name').hasError('minLength') && albumForm.get('name').touched">
    Name should be longer
  </div>
  <br>
  <label for="album-cover">Cover:</label>
  <input name="album-cover" type="text" class="form-control" formControlName="cover">
  <label for="album-description">Description:</label>
  <input name="album-description" type="text" class="form-control" formControlName="description">
  <label for="album-genre">Genre:</label>
  <input name="album-genre" type="text" class="form-control" formControlName="genre">
  <label for="album-recordlbl">Record Label:</label>
  <input name="album-recordlbl" type="text" class="form-control" formControlName="recordLabel">
  <button type="submit" [disabled]="!albumForm.valid">Submit</button>
</form>
