


<div class="container container-collector bg-white mt-5 p-3 p-lg-5 rounded">
  <h1 i18n>Agregar un nuevo Album</h1>

  <form [formGroup] = "albumForm" (ngSubmit)="!albumForm.invalid && createAlbum()">
    <label for="album-name" i18n>Nombre del Album:</label>
    <input id="album-name" type="text" class="form-control" formControlName="name">
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('name').hasError('required') && albumForm.get('name').touched" i18n>
      Nombre Obligatorio
    </div>
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('name').hasError('minlength') && albumForm.get('name').touched" i18n>
      El nombre debe ser más largo
    </div>
    <label for="album-cover" i18n>Cover:</label>
    <input id="album-cover" type="text" class="form-control" formControlName="cover">
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('cover').hasError('required') && albumForm.get('cover').touched" i18n>
      URL Cover es obligatorio
    </div>
    <label for="album-release" i18n>Fecha Lanzamiento:</label>
    <input id="album-release" type="date" class="form-control" formControlName="releaseDate">
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('releaseDate').hasError('required') && albumForm.get('releaseDate').touched" i18n>
      Fecha de lanzamiento es obligatoria
    </div>
    <label for="album-description" i18n>Descripción:</label>
    <textarea id="album-description" type="text" class="form-control" formControlName="description"></textarea>
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('description').hasError('required') && albumForm.get('description').touched" i18n>
      La descripción es obligatoria
    </div>
    <label for="album-genre" i18n>Género Musical:</label>
    <select class="form-control" id="album-genre" formControlName="genre">
      <option>Rock</option>
      <option>Salsa</option>
      <option>Classical</option>
      <option>Folk</option>
    </select>
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('genre').hasError('required') && albumForm.get('genre').touched" i18n>
      El Genero Músical es requerido
    </div>
    <label for="album-recordlbl" i18n>Disquera:</label>
    <select class="form-control" id="album-recordlbl" formControlName="recordLabel">
      <option>EMI</option>
      <option>Sony Music</option>
      <option>Elektra</option>
      <option>Fania Records</option>
    </select>
    <div class="alert alert-danger alert-dismissible fade show"
      *ngIf="albumForm.get('recordLabel').hasError('required') && albumForm.get('recordLabel').touched" i18n>
      Disquera es requerido
    </div>
    <div>
      <button id="add-album-submit" type="submit" class="btn pull-right btn-success mt-2" [disabled]="!albumForm.valid" i18n>Guardar</button>
      <button type="cancel" class="btn pull-right btn-danger mt-2 mr-2" (click)="cancelForm()" i18n>Cancel</button>
    </div>

  </form>
</div>


