<section class="container">
	<div class="row">
        <h1 class="display-none" i18n>Home</h1>
        <div class="col col-lg-7 col-md-6 col-sm-12 pl-0 pr-0">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" class="active" [ngClass]="{'active': i === 0}" *ngFor="let album of albums; let i=index;"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let album of albums; let i=index;">
                        <img [src]="album.cover" class="img-responsive item-img" alt="{{ album.name }}">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev" title="previo" alt="previo">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next" title="next" alt="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="col col-lg-5 col-md-6 col-sm-12">
            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-12 pl-0 pr-0" *ngFor="let album of albums; let i=index;">
                    <a class="thumbnail" [routerLink]="['/albums/detail', album.id]" data-image-id="" data-toggle="modal" data-title=""

                    data-target="#image-gallery">
                        <img class="img-thumbnail not-border"
                            [src]="album.cover"
                            alt="{{album.name}}" />
                    </a>
                </div>
            </div>
        </div>
	</div>

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 pl-0 mt-3 mb-3">
            <div class="title-header text-center">
                <h4 i18n>Artistas</h4>
            </div>
            <ul class="event-list">
                <li *ngFor="let musician of musicians; let i=index;">
                    <a [routerLink]="['/artists', musician.id]" title="{{musician.name}}"><img [src]="musician.image" alt="{{musician.name}}" title="{{musician.name}}" />
                        <div class="info">
                            <h2 class="title">{{musician.name}}</h2>
                            <p class="desc">{{musician.description}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  mt-3 mb-3">
            <div class="card-content">
                <div class="card-img">
                    <img src="https://placeimg.com/380/230/nature" alt="">
                    <span><h3 i18n>heading</h3></span>
                </div>
                <div class="card-desc">
                    <h3 i18n>Heading</h3>
                    <p i18n>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                    <a href="#" class="btn-card">Read</a>
                </div>
            </div>
        </div>
    </div>
</section>
