<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4" *ngFor="let i of [1, 2, 3]">
                <h4 i18n>Acceso Directos</h4>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/home" title="home" alt="home" i18n><em class="fa fa-angle-double-right"></em> Home</a></li>
                    <li><a routerLink="/albums" title="albumes" alt="albumes" i18n><em class="fa fa-angle-double-right"></em> Álbumes</a></li>
                    <li><a routerLink="/artists" title="artistas" alt="artistas" i18n><em class="fa fa-angle-double-right"></em> Artistas</a></li>
                    <li><a routerLink="/collectors" title="coleccionistas" alt="coleccionistas" i18n><em class="fa fa-angle-double-right"></em> Coleccionistas</a></li>
                    <li><a routerLink="/awards" title="premios" alt="premios" i18n><em class="fa fa-angle-double-right"></em> Premios</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" alt="facebook" title="facebook"><em class="fa fa-facebook"></em></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" alt="twitter" title="twitter"><em class="fa fa-twitter"></em></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" alt="instagram" title="instagram"><em class="fa fa-instagram"></em></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" alt="google" title="google"><em class="fa fa-google-plus"></em></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">© All right Reversed.<a class="text-green ml-2" href="#" target="_blank" alt="Vikings" title="Vikings">Vikings 21</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>
