.img-profile {
  width: 200px;
}
.cover {
  width: 150px;
}
.profile-footer {
  margin: 20px;
}

.header-item__h2 {
  font-size: 18px;
}

.card {
  display: grid;
  justify-items: center;

  h4 {
    font-size: 16px;
  }
}

