<div class="container py-5">
  <h1>Colecciones</h1>
  <div class="row">
    <div *ngFor="let collector of collectors" class="col-sm-12 col-md-6 col-lg-3"
         [routerLink]="['/collectors', collector.id]">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ collector.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ collector.email }}</h6>
          <h6 class="card-subtitle mb-2">{{ collector.telephone }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
