@import "variables";

@import "node_modules/bootstrap/scss/bootstrap";

@import "navbar";


body {
  background-color: $bg-color;
  min-height: 100vh;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.custom-link {
  color: black;
  transition: .3s;

  &:hover {
    color: $custom-red;
    text-decoration: none !important;
  }
}

.card {
  &.hover {
    transition: .3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);

      .card-body {
        transition: .2s;
        background-color: $black;

        .card-title {
          transition: .3s;
          color: $white;
        }
      }
    }
  }
}
